
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 16px;
}

:root{
    --ff-mont:'Montserrat', sans-serif;
    --ff-roboto:'Roboto', sans-serif;
    --ff-oleo :'Oleo Script Swash Caps', cursive;
    --clr-main: #35a2ce;
    --clr-white : #ffffff;
    --clr-dark-blue : #110c46;
}


body{
    font-family: var(--ff-oleo);
font-family: var(--ff-mont);
background-color: var(--clr-white);
color: var(--clr-dark-blue);

}

img{
    width: 100%;
    height: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    padding: 0.8rem 1.25rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 1rem ;
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: 2px solid var(--clr-main);
}
.btn:hover {
    background-color: transparent;
    color: var(--clr-dark-blue);
    border-color: var(--clr-dark-blue);
    cursor: pointer;
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

}

.header{
    height: 75vh;

}
.navbar{
    height: 5rem;
    background-color: var(--clr-main);
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo{
    font-size: 2.5rem;
    font-family: var(--ff-oleo);
    font-weight: 700;
    text-shadow: 2px 2px 5px #110c46;
}
.list-container{
display: flex;
}
.list-items{
    margin: 1rem;
}
.list-link{
    font-size: 1.2rem;
    color: var(--clr-white);
    font-weight: 700;
}

.list-link:hover{
    color: var(--clr-dark-blue);
}



.hero-section{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(75vh - 5rem);

}
.hero-title{
font-size: 3.rem;
}
.hero-title  span{
    color: var(--clr-main);
    font-weight: 900;
    line-height: 1.5;
}
.hero-description{
    font-size: 1.25rem;
    width: 90%;
    margin: 1.25rem 0 ;
}
.contact-link-container{
    display: flex;
    align-items: center;
    min-height: 2rem;
}
.contact-link{
    margin: 0 1rem;
}
.contact-link{
    font-size:1.25rem ;
    font-weight: 600;
    color: var(--clr-main);
}
.contact-link :hover{
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.hero-img-container{
    width: 15rem;
    height: 15rem;
    
}

.hero-img-container img{
    border-radius: 30%;
}

/* main-section starts */

.section-center{
    padding: 3rem 0;
    width: 80%;
    margin: auto;
}

.section-title{
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--clr-main);
    text-align: center;
    margin: 0.5rem auto;
}
.underline{
    margin: 1rem auto;
    width: 10%;
    height: 0.5rem;
    background-color: var(--clr-main);

}
/* skill list */

.skill-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 2rem;
}
.skill-list-items{
    width:8rem ;
    height: 8rem;
    background-color: var(--clr-white);
    box-shadow: 4px 3px rgba(0, 0, 0, 0.15) ;
    border-radius: 10px;
    padding: 1.25rem;
}

/*project section*/
.project-list-container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 2rem;
}
.project-list-item{
    width: 22rem;
    height: 20rem;
   border-radius: 10px;
   border: 2px solid var(--clr-dark-blue);
   transition: all 0.3s ease;
}
.project-list-item:hover{
    transform: scale(1.05);
}
.project-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}
.btn-code{
    color: var(--clr-white);
    background-color: var(--clr-dark-blue);
    border: 2px solid var(--clr-dark-blue);
}
.btn-code-outline{
    color: var(--clr-dark-blue);
    background-color: transparent;
    border: 2px solid var(--clr-dark-blue);
}
.btn-code-outline:hover{
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: 2px solid var(--clr-main);
}
.blog-list-container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 2rem;
}
.blog-list-item{
    width: 30rem;
    height:8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid var(--clr-dark-blue)
}
.blog-img-container img{
    width:8rem;
height:6rem;
margin-left: 1rem;
margin-right: 1rem;
border-radius: 10px;
}

.blog-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 8rem;
}
.blog-details .btn{
margin: auto;
}
.footer{
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--clr-dark-blue);
}
.footer p{
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--clr-white);
}



@media screen and (max-width : 768px){
   .header{
    height: 100vh;

   }
   
   
    .navbar{
        flex-direction: column;
        justify-content: space-between;
    }
    .hero-section{
        height: calc(100vh - 5rem);
    }
    .logo{
        font-size: 1.5rem;
    }
    .list-link{
        font-size: 1rem;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
    }
    .hero-title{
        font-size: 2rem;
        margin-top: 1rem;

    }
    .project-btn-container{
        flex-direction: column;
        justify-content: space-around;
    }
    .project-btn-container .btn{
        margin: 0.25rem auto;
    }
    
    
}